In [1]:
import pandas as pd

In [2]:
path = "C:\\Users\\Ufuk Altan\\Downloads\\Downloads\\Data Science\\PyFinance\\08 - Time series stock data\\"
fb = pd.read_csv(path + 'ticker-fb.csv', index_col = 0, parse_dates = True)
fb.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900,181.419998
2018-01-03,184.779999,181.330002,181.880005,184.669998,16886600,184.669998
2018-01-04,186.210007,184.100006,184.899994,184.330002,13880900,184.330002
2018-01-05,186.899994,184.929993,185.589996,186.850006,13574500,186.850006
2018-01-08,188.899994,186.330002,187.199997,188.279999,17994700,188.279999

In [3]:
fb.shift().head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-01-02,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-03,181.580002,177.550003,177.679993,181.419998,18151900.0,181.419998
2018-01-04,184.779999,181.330002,181.880005,184.669998,16886600.0,184.669998
2018-01-05,186.210007,184.100006,184.899994,184.330002,13880900.0,184.330002
2018-01-08,186.899994,184.929993,185.589996,186.850006,13574500.0,186.850006

In [4]:
fb['RoR'] = fb['Close'] / fb['Close'].shift() - 1
fb.head()

,High,Low,Open,Close,Volume,Adj Close,RoR
Date,,,,,,,
2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900,181.419998,NaN
2018-01-03,184.779999,181.330002,181.880005,184.669998,16886600,184.669998,0.017914
2018-01-04,186.210007,184.100006,184.899994,184.330002,13880900,184.330002,-0.001841
2018-01-05,186.899994,184.929993,185.589996,186.850006,13574500,186.850006,0.013671
2018-01-08,188.899994,186.330002,187.199997,188.279999,17994700,188.279999,0.007653

In [5]:
fb['PerChange'] = fb['Close'].pct_change()
fb.head()

,High,Low,Open,Close,Volume,Adj Close,RoR,PerChange
Date,,,,,,,,
2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900,181.419998,NaN,NaN
2018-01-03,184.779999,181.330002,181.880005,184.669998,16886600,184.669998,0.017914,0.017914
2018-01-04,186.210007,184.100006,184.899994,184.330002,13880900,184.330002,-0.001841,-0.001841
2018-01-05,186.899994,184.929993,185.589996,186.850006,13574500,186.850006,0.013671,0.013671
2018-01-08,188.899994,186.330002,187.199997,188.279999,17994700,188.279999,0.007653,0.007653

In [6]:
fb['Norm'] = (fb['Close'] / fb['Close'][0]) * 100
fb.head()

,High,Low,Open,Close,Volume,Adj Close,RoR,PerChange,Norm
Date,,,,,,,,,
2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900,181.419998,NaN,NaN,100.000000
2018-01-03,184.779999,181.330002,181.880005,184.669998,16886600,184.669998,0.017914,0.017914,101.791423
2018-01-04,186.210007,184.100006,184.899994,184.330002,13880900,184.330002,-0.001841,-0.001841,101.604015
2018-01-05,186.899994,184.929993,185.589996,186.850006,13574500,186.850006,0.013671,0.013671,102.993059
2018-01-08,188.899994,186.330002,187.199997,188.279999,17994700,188.279999,0.007653,0.007653,103.781281

In [7]:
#CAGR

In [8]:
fb.iloc[-1]['Close'] / fb.iloc[0]['Close'] - 1

0.5056774689620065

In [9]:
fb['GF'] = fb['RoR'] + 1

In [11]:
fb['GF'].prod() - 1

0.5056774689620078

In [12]:
fb.iloc[0]['Close'] * fb['GF'].prod()

273.16000366210966

In [13]:
len(fb)

756

In [16]:
cagr = (fb.iloc[-1]['Close'] / fb.iloc[0]['Close']) ** (1 / len(fb)) - 1
cagr

0.0005414731871022926

In [17]:
(1 + cagr)**(len(fb))

1.5056774689619246