In [1]:
import pandas as pd

In [2]:
path = "C:/Users/Ufuk Altan/Downloads/Downloads/Data Science/PyFinance/04 - Intrinsic Value/"
df = pd.read_csv(path + '50-fcf.csv', index_col = 0)
df.head()

,AAPL,MSFT,AMZN,GOOG,FB,TSLA,BRK.A,V,JNJ,WMT,...,COST,CVX,LLY,MCD,DHR,MDT,NEE,TXN,HON,UPS
2005,2275.0,15793.0,529.0,1621.21,NaN,NaN,7251.0,361.36,9321.0,3166.0,...,799.96,11404.0,626.6,2730.0,1102.85,2372.0,-930.0,2362.0,1829.0,3633.0
2006,1563.0,12826.0,486.0,1677.71,NaN,NaN,5624.0,348.00,12093.0,4753.0,...,630.46,10510.0,2963.3,2599.6,1420.83,1813.0,-1221.0,4184.0,2565.0,2579.0
2007,4735.0,15532.0,1181.0,3372.57,NaN,NaN,7177.0,345.00,12537.0,4963.0,...,715.00,8299.0,4104.4,2929.7,1499.24,2406.0,-726.0,3782.0,3242.0,-1612.0
2008,8505.0,18430.0,1364.0,5494.00,NaN,-63.04,5114.0,120.00,12691.0,6662.0,...,655.00,9966.0,6374.1,3781.5,1666.33,2976.0,-1833.0,2567.0,2960.0,5937.0
2009,9015.0,15918.0,2920.0,8506.00,122.0,-92.71,10909.0,252.00,14360.0,12362.0,...,849.00,-470.0,3588.2,3798.9,1630.41,3380.0,-1543.0,1890.0,3368.0,3743.0

In [3]:
df = df.transpose()

In [4]:
df.head()

,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
AAPL,2275.00,1563.00,4735.00,8505.0,9015.0,16590.0,33269.0,42561.0,45501.0,50142.0,70019.0,53497.0,51774.0,64121.0,58896.0,73365.0
MSFT,15793.00,12826.00,15532.00,18430.0,15918.0,22096.0,24639.0,29321.0,24576.0,27017.0,23724.0,24982.0,31378.0,32252.0,38260.0,45234.0
AMZN,529.00,486.00,1181.00,1364.0,2920.0,2516.0,2092.0,395.0,2031.0,1949.0,7450.0,10466.0,8307.0,19400.0,25825.0,NaN
GOOG,1621.21,1677.71,3372.57,5494.0,8506.0,7063.0,11127.0,13346.0,11301.0,12065.0,16657.0,26064.0,23907.0,22832.0,30972.0,NaN
FB,NaN,NaN,NaN,NaN,122.0,405.0,943.0,377.0,2860.0,5495.0,7797.0,11617.0,17483.0,15359.0,21212.0,NaN

In [5]:
df['10Y CAGR'] = (df[2019] / df[2009])**(1/10) -1
df['5Y CAGR'] = (df[2019] / df[2014])**(1/5) -1
df['1Y CAGR'] = (df[2019] / df[2018])**(1/11) -1

In [6]:
data = df[['10Y CAGR', '5Y CAGR', '1Y CAGR']]

In [9]:
data.sort_values('5Y CAGR', ascending = False)

       10Y CAGR   5Y CAGR   1Y CAGR
NFLX        NaN  1.260207  0.008716
AMZN   0.243557  0.676663  0.026347
AVGO   0.605882  0.649470  0.008904
NVDA        NaN  0.390330  0.006995
CRM    0.324654  0.372100  0.022097
ABBV   0.097124  0.341748 -0.000121
FB     0.675028  0.310155  0.029786
ADBE   0.149688  0.287322  0.006197
T      0.050561  0.235878  0.022672
GOOG   0.137953  0.207503  0.028108
UNH    0.128672  0.202256  0.016780
MA     0.196665  0.193925  0.024392
PYPL        NaN  0.175231 -0.016711
NKE    0.138027  0.175000  0.018108
BAC   -0.069889  0.149395  0.041447
ACN    0.075122  0.137180  0.009923
TMO    0.107362  0.127446  0.005713
V      0.471903  0.125766 -0.001461
ABT   -0.031365  0.116030 -0.007862
COST   0.147406  0.110202  0.016493
HD     0.107521  0.109325  0.003922
WMT    0.037873  0.105270 -0.003651
INTC   0.097883  0.104243  0.015794
CMCSA  0.109326  0.089772  0.004183
TXN    0.119272  0.088819 -0.003585
HON    0.061214  0.087881  0.007477
MRK    0.178361  0.083582  0.016700
NEE    0.013188  0.077696       NaN
MSFT   0.091656  0.072066  0.015651
MCD    0.044646  0.067888  0.027014
BRK.A  0.076067  0.061805 -0.000618
VZ     0.020630  0.057885  0.000646
CSCO   0.053287  0.057699  0.013525
MDT    0.056804  0.051773  0.045077
JNJ    0.049063  0.033863  0.005885
AAPL   0.206457  0.032706 -0.007697
PG    -0.003816  0.028329  0.006697
LLY    0.005823  0.028073 -0.011401
KO     0.040822  0.021864  0.036595
DHR    0.073990  0.002171 -0.003106
ORCL   0.052527 -0.021093 -0.005187
QCOM   0.002864 -0.031427 -0.055145
PEP    0.016877 -0.063644 -0.010387
UPS   -0.046542 -0.076029 -0.088816
PFE   -0.038272 -0.081013 -0.025188
XOM   -0.010431 -0.151334 -0.096945
DIS   -0.110316 -0.297348 -0.179994
JPM   -0.260006 -0.302388 -0.074609
TSLA        NaN       NaN       NaN
CVX         NaN       NaN -0.021836