In [1]:
import pandas_datareader as pdr
import datetime as dt
import numpy as np
import pandas as pd

In [5]:
tickers = ['AAPL', 'FB']

In [6]:
start = dt.datetime(2019, 1, 1)
end = dt.datetime(2020, 1, 1)

In [7]:
df = pdr.get_data_yahoo(tickers, start, end)

In [8]:
df.head()

Attributes  Adj Close                  Close                   High  \
Symbols          AAPL          FB       AAPL          FB       AAPL
Date
2019-01-02  38.439735  135.679993  39.480000  135.679993  39.712502
2019-01-03  34.610851  131.740005  35.547501  131.740005  36.430000
2019-01-04  36.088364  137.949997  37.064999  137.949997  37.137501
2019-01-07  36.008041  138.050003  36.982498  138.050003  37.207500
2019-01-08  36.694466  142.529999  37.687500  142.529999  37.955002

Attributes                    Low                   Open              \
Symbols             FB       AAPL          FB       AAPL          FB
Date
2019-01-02  137.509995  38.557499  128.559998  38.722500  128.990005
2019-01-03  137.169998  35.500000  131.119995  35.994999  134.690002
2019-01-04  138.000000  35.950001  133.750000  36.132500  134.009995
2019-01-07  138.869995  36.474998  135.910004  37.174999  137.559998
2019-01-08  143.139999  37.130001  139.539993  37.389999  139.889999

Attributes       Volume
Symbols            AAPL          FB
Date
2019-01-02  148158800.0  28146200.0
2019-01-03  365248800.0  22717900.0
2019-01-04  234428400.0  29002100.0
2019-01-07  219111200.0  20089300.0
2019-01-08  164101200.0  26263800.0

In [14]:
df.shape

(252, 12)

In [9]:
from ta.momentum import UltimateOscillator

In [16]:
df['Close']['AAPL']

Symbols          AAPL          FB
Date
2019-01-02  39.480000  135.679993
2019-01-03  35.547501  131.740005
2019-01-04  37.064999  137.949997
2019-01-07  36.982498  138.050003
2019-01-08  37.687500  142.529999
...               ...         ...
2019-12-24  71.067497  205.119995
2019-12-26  72.477501  207.789993
2019-12-27  72.449997  208.100006
2019-12-30  72.879997  204.410004
2019-12-31  73.412498  205.250000

[252 rows x 2 columns]

In [17]:
high = pd.Series(np.reshape(df['High']['AAPL'].values, (df.shape[0],)))
low = pd.Series(np.reshape(df['Low']['AAPL'].values, (df.shape[0],)))
close = pd.Series(np.reshape(df['Close']['AAPL'].values, (df.shape[0],)))

In [18]:
uo = UltimateOscillator(high, low, close)

In [23]:
list(uo.ultimate_oscillator())

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 60.83577158692488,
 52.88910203933983,
 49.81259504199674,
 47.938642527107184,
 55.56149545008667,
 49.31942083308504,
 51.27186587677996,
 53.997035360434914,
 55.382631919919916,
 52.90906035492851,
 58.591698091624814,
 54.517213314116916,
 58.74984829780901,
 59.864463735503286,
 57.364442293616,
 58.50664812300165,
 53.60804750052368,
 57.36391547030689,
 68.6690479956011,
 65.10940418787054,
 64.61343552065209,
 65.87801691657494,
 67.12326597337191,
 71.58051554578807,
 64.20752522691856,
 61.58710296053664,
 67.26382968540275,
 58.18966847770581,
 54.7072218148461,
 49.63523517195692,
 49.222194230422126,
 50.20880802758392,
 48.40399289862934,
 45.649045475794324,
 55.213405551405266,
 57.598699245289026,
 67.3750577877078,
 69.65944862324805,
 74.16852088881909,
 65.33975380817448,
 64.90136194841182,
 61.209471218116356,
 62.328214164726845,
 63.225907008724185,
 58.549479289017015,
 60.35918916885968,
 66.19684920973246,
 65.40938254102228,
 71.83289491735955,
 69.11364195971875,
 62.69527597710634,
 66.08941943990503,
 58.56452959430148,
 52.82280032790918,
 55.87819568686266,
 50.92025359227528,
 54.646652623447444,
 57.753946838777956,
 53.373349371604824,
 51.62053838321599,
 54.298331149153285,
 51.36858162465995,
 45.18373010825099,
 45.80269426290784,
 48.120281861572096,
 48.91397878698275,
 49.90826843690342,
 46.890292315892275,
 46.92936515405197,
 49.919023333870655,
 46.43439220332494,
 39.47305751672399,
 38.57333445764612,
 37.4031487138485,
 38.85648649761863,
 30.94664256613505,
 35.89500546301075,
 44.940215468862725,
 47.4382263882327,
 52.705613856377134,
 56.146169081272525,
 55.53791706175478,
 58.214651803605996,
 60.750249801406156,
 53.62454452362,
 55.28959087216004,
 53.98708356763424,
 54.43278139653568,
 52.73746488189014,
 52.864921285036395,
 52.99263865592091,
 52.20402790842275,
 45.22621456774234,
 48.64292630691116,
 40.995899836983206,
 41.579597611481326,
 42.7909814031391,
 46.24101658295897,
 50.90933721603252,
 55.97620037316261,
 47.79218175076249,
 52.43372518220467,
 56.442445038108175,
 51.86496988967393,
 52.56616311721191,
 52.32307815245167,
 51.686403121509855,
 51.34165769636652,
 52.48255817712392,
 43.17952369052772,
 55.555380606626116,
 57.081697404219184,
 56.905800324021456,
 53.874955531608705,
 54.70260424843941,
 52.4951296178506,
 57.79966747374634,
 45.64599465950827,
 36.704290541362866,
 35.17149050800117,
 30.727584695943598,
 34.32671209928403,
 37.87365074374693,
 42.05282132839769,
 41.82089499578582,
 45.799636078515114,
 51.80797744709224,
 54.11685083630165,
 51.36762343048268,
 51.615343936364766,
 49.818222021137544,
 48.3383871330759,
 50.87097677553065,
 46.65032674265439,
 45.488013212373055,
 49.12597083387843,
 41.280191981453,
 40.74514530684019,
 46.687844818509895,
 45.42288981721088,
 42.86516760466094,
 55.720673414770374,
 57.18247031035004,
 60.883452962300055,
 58.31094139844737,
 61.83652006248805,
 68.55989270587946,
 66.9812498631063,
 63.00042250376952,
 62.276280524036274,
 65.43892178952197,
 68.59095016368134,
 60.60333479861868,
 47.02597932555876,
 50.47452499878595,
 46.45284562943407,
 48.58777596713443,
 46.79775321932659,
 42.21040992648337,
 50.05403932207741,
 48.792947238965816,
 44.21538617735551,
 55.7981329312315,
 58.33439240988299,
 56.19603706072213,
 51.984369962367964,
 50.78459343383671,
 57.480985211030934,
 66.24727114927542,
 61.86028946291583,
 53.85493837958682,
 56.063324869248504,
 61.65429783451267,
 59.65712528876302,
 61.6965218171544,
 55.772265540494274,
 61.402554691332156,
 63.267591115973055,
 68.25054685365858,
 71.67802154471079,
 59.73986354196215,
 55.49690755656398,
 67.25465966940706,
 71.06777326854389,
 72.95554106955461,
 70.72682035558381,
 70.78975311339788,
 78.34814409025448,
 81.62389592428565,
 81.7442809444061,
 76.74755203880265,
 78.00016288569907,
 74.20684243085243,
 76.02346591507558,
 80.25342812336898,
 75.8372099642845,
 67.46477703921381,
 63.59053262799664,
 58.86558459374117,
 67.38077566805279,
 61.04140861687207,
 62.62591237195192,
 63.56554923744095,
 58.03451755154317,
 56.05876611837133,
 56.396443951682066,
 56.838833321880706,
 62.52701665298103,
 56.73367613721408,
 57.37118985503708,
 62.3112000426148,
 67.7480947050678,
 71.57654435574706,
 71.0791034618812,
 68.29201745431381,
 68.64838988831714,
 68.0602754311105,
 62.787785449498124,
 66.10605079571756,
 63.14630453456705,
 65.97968581464025,
 60.055707771658085,
 67.00946391605957,
 70.9792930365447]

In [24]:
from ta.momentum import UltimateOscillator

def ultimate_oscil(dataset, ticker):
    
    high = pd.Series(np.reshape(df['High'][ticker].values, (df.shape[0],)))
    low = pd.Series(np.reshape(df['Low'][ticker].values, (df.shape[0],)))
    close = pd.Series(np.reshape(df['Close'][ticker].values, (df.shape[0],)))
    
    uo = UltimateOscillator(high, low, close)    
    dataset['UO'] = list(uo.ultimate_oscillator())