In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
# %15, %20, %20, %15 --- 60%, -40%, 120%, -10%
df = pd.DataFrame({'A': [1.15, 1.2, 1.2, 1.15], 'B': [1.6, .6, 2.2, 0.9]})

In [7]:
df.std() * (4 ** .5)

A    0.057735
B    1.436431
dtype: float64

# Log Returns

In [8]:
1.15 * 1.2

1.38

In [9]:
1.15 + 1.2

2.3499999999999996

In [13]:
np.log(1.15) , np.log(1.2)

(0.13976194237515863, 0.1823215567939546)

In [14]:
np.log(1.15) + np.log(1.2)

0.3220834991691132

In [16]:
np.log(1.15 * 1.2)

0.3220834991691132

# EXAMPLE

In [21]:
path = "C:\\Users\\Ufuk Altan\\Downloads\\Downloads\\Data Science\\PyFinance\\08 - Time series stock data\\"
data = pd.read_csv(path + 'ticker-fb.csv', index_col = 0, parse_dates = True)
data.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900,181.419998
2018-01-03,184.779999,181.330002,181.880005,184.669998,16886600,184.669998
2018-01-04,186.210007,184.100006,184.899994,184.330002,13880900,184.330002
2018-01-05,186.899994,184.929993,185.589996,186.850006,13574500,186.850006
2018-01-08,188.899994,186.330002,187.199997,188.279999,17994700,188.279999

In [22]:
data['LogReturns'] = np.log(data['Adj Close'] / data['Adj Close'].shift())

In [26]:
data['Volatility'] = data['LogReturns'] .rolling(252).std() * (252 ** 0.5)

In [28]:
data.tail()

,High,Low,Open,Close,Volume,Adj Close,LogReturns,Volatility
Date,,,,,,,,
2020-12-24,270.399994,266.200012,268.880005,267.399994,6702000,267.399994,-0.002652,0.460331
2020-12-28,277.299988,265.660004,268.739990,277.000000,23299700,277.000000,0.035272,0.461605
2020-12-29,280.510010,276.279999,276.950012,276.779999,16383000,276.779999,-0.000795,0.461214
2020-12-30,278.079987,271.709991,277.950012,271.869995,11803800,271.869995,-0.017899,0.461600
2020-12-31,277.089996,269.809998,272.000000,273.160004,12892900,273.160004,0.004734,0.461146

In [30]:
current_volatility = data['Volatility'].iloc[-1]
current_volatility

0.46114568808171486

In [31]:
vol = str(round(current_volatility, 3) * 100)
vol

'46.1'