In [47]:
import pandas_datareader as pdr
import datetime as dt
import numpy as np
import pandas as pd

In [50]:
ticker = ['AAPL', 'FB']

In [51]:
start = dt.datetime(2018, 1, 1)
end = dt.datetime(2020, 1, 1)

In [52]:
aapl = web.DataReader(ticker, 'yahoo', start, end)
aapl = pdr.get_data_yahoo(tickers, start, end)

In [40]:
aapl.head()

Attributes  Adj Close      Close       High        Low       Open       Volume
Symbols          AAPL       AAPL       AAPL       AAPL       AAPL         AAPL
Date
2018-01-02  41.310070  43.064999  43.075001  42.314999  42.540001  102223600.0
2018-01-03  41.302879  43.057499  43.637501  42.990002  43.132500  118071600.0
2018-01-04  41.494736  43.257500  43.367500  43.020000  43.134998   89738400.0
2018-01-05  41.967163  43.750000  43.842499  43.262501  43.360001   94640000.0
2018-01-08  41.811283  43.587502  43.902500  43.482498  43.587502   82271200.0

In [41]:
high = pd.Series(np.reshape(aapl['High'].values, (aapl.shape[0],)))
low = pd.Series(np.reshape(aapl['Low'].values, (aapl.shape[0],)))
close = pd.Series(np.reshape(aapl['Close'].values, (aapl.shape[0],)))

In [42]:
from ta.trend import ADXIndicator
adxI = ADXIndicator(high, low, close, 14, True)
pos = adxI.adx_pos()
neg = adxI.adx_neg()
adx = adxI.adx()

C:\Anaconda3\lib\site-packages\ta\trend.py:768: RuntimeWarning: invalid value encountered in double_scalars
  dip[i] = 100 * (self._dip[i] / self._trs[i])
C:\Anaconda3\lib\site-packages\ta\trend.py:772: RuntimeWarning: invalid value encountered in double_scalars
  din[i] = 100 * (self._din[i] / self._trs[i])

In [43]:
aapl['-DI'] = list(neg)
aapl['+DI'] = list(pos)
aapl['ADX'] = list(adx)

In [44]:
aapl.isnull().sum()

Attributes  Symbols
Adj Close   AAPL       0
Close       AAPL       0
High        AAPL       0
Low         AAPL       0
Open        AAPL       0
Volume      AAPL       0
-DI                    0
+DI                    0
ADX                    0
dtype: int64

In [45]:
aapl.tail()

Attributes,Adj Close,Close,High,Low,Open,Volume,-DI,+DI,ADX
Symbols,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,,,
Date,,,,,,,,,
2019-12-24,70.234581,71.067497,71.222504,70.730003,71.172501,48478800.0,11.633980,35.306879,33.984310
2019-12-26,71.628067,72.477501,72.495003,71.175003,71.205002,93121200.0,10.460011,40.739251,35.781144
2019-12-27,71.600876,72.449997,73.492500,72.029999,72.779999,146266000.0,9.412114,43.490793,37.826591
2019-12-30,72.025833,72.879997,73.172501,71.305000,72.364998,144114400.0,12.973137,38.224795,38.647666
2019-12-31,72.552094,73.412498,73.419998,72.379997,72.482498,100805600.0,12.094840,37.248072,39.528289

In [57]:
df = aapl

In [58]:
close = df['Close']
high = df['High']
low = df['Low']
volume = df['Volume']

In [69]:
from ta.trend import ADXIndicator

def average_directional_index(dataset, ticker):

    high = pd.Series(np.reshape(df['High'][ticker].values, (df.shape[0],)))
    low = pd.Series(np.reshape(df['Low'][ticker].values, (df.shape[0],)))
    close = pd.Series(np.reshape(df['Close'][ticker].values, (df.shape[0],)))

    adxI = ADXIndicator(high, low, close, 14, True)
    pos = adxI.adx_pos()
    neg = adxI.adx_neg()
    adx = adxI.adx()

    dataset['-DI'] = list(neg)
    dataset['+DI'] = list(pos)
    dataset['ADX'] = list(adx)