In [1]:
import pandas as pd

In [2]:
path = "C:/Users/Ufuk Altan/Downloads/Downloads/Data Science/PyFinance/04 - Intrinsic Value/"
df = pd.read_csv(path + '50-rev.csv', index_col = 0)
df.head()

,AAPL,MSFT,AMZN,GOOG,FB,TSLA,BRK.A,V,JNJ,WMT,...,COST,CVX,LLY,MCD,DHR,MDT,NEE,TXN,HON,UPS
2005,13931,39788,8490.0,6139.0,NaN,NaN,81663.0,2665,50514.0,284310,...,52952,198200.0,14645.0,19117.0,7871.0,10055,11846.0,12335.0,27652.0,42581.0
2006,19315,44282,10711.0,10605.0,NaN,NaN,98539.0,2948,53324.0,312101,...,60151,210118.0,15691.0,20895.0,9466.0,11292,15710.0,14255.0,31367.0,47547.0
2007,24578,51122,14835.0,16594.0,153.0,NaN,118245.0,3590,61095.0,348368,...,64401,220904.0,18634.0,22787.0,11026.0,12299,15263.0,13835.0,34589.0,49692.0
2008,37491,60420,19166.0,21796.0,272.0,15.0,107786.0,6263,63747.0,377023,...,72483,273005.0,20372.0,23522.0,12697.0,13515,16410.0,12501.0,36556.0,51486.0
2009,42905,58437,24509.0,23651.0,777.0,112.0,112493.0,6911,61897.0,404254,...,71422,171636.0,21836.0,22745.0,10517.0,14599,15643.0,10427.0,29951.0,45297.0

In [4]:
df = df.loc['2009': '2019']

In [6]:
df = df.transpose()

In [10]:
100 * (1) * (1 - .5) * (1 + 4)

250.0

In [11]:
# Compound Average Growth Rate - CAGR
# ((EV - BV) ^ 1/n) - 1
r = (250 / 100) ** (1/3) -1
r

0.35720880829745316

In [ ]:
#--------------------------------------------------------------------------------------------------------------------------------------------------------